@model List<MVC_Kutuphane_Otomasyonu.Entities.Model.Hakkimizda>
@{
    Layout = "~/Views/Shared/_GenelLayout.cshtml";
    ViewBag.Title = "About";
}
<main aria-labelledby="title">
    <h2 id="title">HAKKIMIZDA</h2>

    <p>
        <div>
            <table class="table-bordered table-striped">
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            @item.Icerik
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </p>
</main>